# Aplicación
APP_NAME="Mi Web Service"
APP_ENV="development"
APP_DEBUG="True"
APP_PORT=8000

# Base de datos
DATABASE_URL="sqlite:///./dev.db"

# Seguridad
SECRET_KEY="cambia-este-valor-en-produccion"
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Reglas de negocio (variables del Domain)
MIN_ORDER_AMOUNT=60000
MIN_CART_QUANTITY=3
MIN_PRODUCT_PRICE=10000
LOW_STOCK_THRESHOLD=5
DISCOUNT_PERCENTAGE=10
MAX_ITEMS_PER_CART=20